<%- include("partials/header1"); %>

<body>
    <nav class="navbar">
        <ul>
            <li class="nav_item"><a href="/">Home</a></li>
            <li class="nav_item"><a href="/about">About</a></li>
            <li class="nav_item"><a href="/help">Help</a></li>
            <li class="nav_item"><a href="/signIn">Sign in</a></li>
        </ul>
    </nav>

    <div class="description">
        <img src="./Images/vegetables.png" alt="" height="300px" width="300px">
        <p>Eating vegetables provides health benefits. People who eat vegetables as part of an overall healthy diet are likely to have a reduced risk of some diseases. Vegetables provide nutrients vital for the health and maintenance of the body.</p>
    </div>

    <div class="description">
        <p>Eating more fresh fruit will help you stay away from processed food. Fruit comes from nature not a factory. The closer to nature, the better for your health. Fruits are naturally low in fat, calories, and have key nutrients that a person to be healthy. Fruit helps protect you from illnesses.</p>
        <img src="./Images/fruits.jpg" alt="" height="300px" width="300px">
    </div>
</body>
</html>