<%- include("partials/header1"); %>

<body>
    <nav class="navbar">
        <ul>
            <li class="nav_item"><a href="/">Home</a></li>
            <li class="nav_item"><a href="/about">About</a></li>
            <li class="nav_item"><a href="/help">Help</a></li>
            <li class="nav_item"><a href="/signIn">Sign in</a></li>
        </ul>
    </nav>
</body>
</html>