<%- include("partials/header1"); %>

<body>
    <nav class="navbar">
        <ul>
            <li class="nav_item"><a href="/">Home</a></li>
            <li class="nav_item"><a href="/about">About</a></li>
            <li class="nav_item"><a href="/help">Help</a></li>
            <li class="nav_item"><a href="/signIn">Sign in</a></li>
        </ul>
    </nav>

    <section class="section-1">
        <div class="intro">
            <h1 class="intro-heading">Plan Your Diet</h1>
            <p class="intro-detail">Get your diet plan to maintain a fit and healthy body.</p>
        </div>
        <div class="introImage">
            <img src="./Images/diet.jpg" alt="" height="600px" width="500px">
        </div>
    </section>

    <section class="section-2">
        <div class="box-1">
            <img src="./Images/fruit.webp" alt="" height="100px" width="80px">
            <p>Diet is a sum of food consumed by a person or other organism. The word diet oftem implies the use of specific intake of nutrition for health.</p>
        </div>

        <div class="box-2">
            <img src="./Images/juice.webp" alt="" height="100px" width="60px">
            <p>A healthy eating plan emphasizes vagetables, fruits, whole grains and fat-free or low-fat dairy products. Includes lean meats, poultry.</p>
        </div>
    </section>
</body>
</html>