<%- include("partials/header1"); %>

<body>
    <nav class="navbar">
        <ul>
            <li class="nav_item"><a href="/">Home</a></li>
            <li class="nav_item"><a href="/about">About</a></li>
            <li class="nav_item"><a href="/help">Help</a></li>
            <li class="nav_item"><a href="/signIn">Sign in</a></li>
        </ul>
    </nav>
    
    <div class="signUp">
        <div class="signUpImage">
            <img src="./Images/diet3.jpg" alt="" height="600px" width="800px">
        </div>
        <div class="signUpForm">
            <form action="/register" method="POST">
                <label for="gender">Gender</label>
                <input type="radio" name="gender" style="width: 10%; height: 15px;" value="Male"> <label for="male">Male</label>
                <input type="radio" name="gender" style="width: 10%; height: 15px;" value="Female"><label for="female">Female</label> <br>

                <label for="name">Name</label><br>
                <input type="text" name="name"><br>

                <label for="email">Email</label><br>
                <input type="email" name="username"><br>

                <label for="birthDate">Birth Date</label><br>
                <input type="date" name="birthDate"><br>

                <label for="sickness">Sickness</label>
                <select name="sickness" style="height: 30px; margin:10px; font-weight: 500; font-size: 18px;">
                    <option value="None">None</option>
                    <option value="Diabetes">Diabetes</option>
                    <option value="High Blood Pressure">High Blood Pressure</option>
                    <option value="Low Blood Pressure">Low Blood Pressure</option>
                    <option value="Heart Disease">Heart Disease</option>
                    <option value="PCOS">PCOS</option>
                    <option value="PCOD">PCOD</option>
                  </select><br>
        
                <label for="password">Password</label><br>
                <input type="password" name="password">

                <label for="password">Confirm Password</label><br>
                <input type="password" name="confirmPassword">
    
                <button type="submit" class="signUpButton">Sign up</button>
            </form>

        </div>
    </div>
</body>
</html>